<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Twitter Sentiment Analysis</span>
    <span class="spacer"></span>
    <button mat-button>Realtime</button>
    <button mat-button>Archives</button>
    <button mat-button>Analytics</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-title>Streaming control</mat-card-title>
  <mat-card-subtitle>Start, stop or change tracking terms of realtime tweet streaming</mat-card-subtitle>
  <mat-form-field class="track-input">
    <input matInput [(ngModel)]="trackedTerms" placeholder="Track terms...">
    <button mat-button *ngIf="trackedTerms" matSuffix mat-icon-button aria-label="Clear" (click)="trackedTerms=''">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-button *ngIf="trackedTerms" matSuffix mat-icon-button aria-label="navigate_next" (click)="trackTerms()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </mat-form-field>
  <mat-card-actions>
    <mat-button-toggle-group #group="matButtonToggleGroup" class="toggle">
      <mat-button-toggle (click)="startStreaming()">
        Start streaming
      </mat-button-toggle>
      <mat-button-toggle (click)="stopStreaming()">
        Stop streaming
      </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-progress-bar *ngIf="isStreaming" mode="query" class="progress"></mat-progress-bar>
  </mat-card-actions>
</mat-card>
