<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Twitter Sentiment Analysis</span>

    <span class="spacer"></span>

    <button mat-button>Realtime</button>
    <button mat-button>Archives</button>
    <button mat-button>Analytics</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-title>Streaming control</mat-card-title>
  <mat-card-subtitle>Start, stop or change tracking terms of realtime tweet streaming</mat-card-subtitle>
  <mat-form-field class="track-input">
    <input matInput [(ngModel)]="trackedTerms" placeholder="Track terms...">
  </mat-form-field>
  <mat-card-actions>
    <button mat-raised-button (click)="startStreaming()">Start Streaming</button>
    <button mat-raised-button (click)="stopStreaming()">Stop Streaming</button>
    <button mat-raised-button (click)="trackTerms()">Start Tracking</button>
  </mat-card-actions>
</mat-card>
